<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- Definição do alvo de log para o arquivo -->
    <target name="file" xsi:type="File" fileName="logs/logfile.txt" layout="${longdate}|${level:uppercase=true}|${message}|${exception}" />
  </targets>
  <rules>
    <!-- Regra para logar todos os níveis de log no arquivo -->
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>
